.pageWrapper {
  display: flex;
  align-items: self-start;
  gap: 65px;
}

.visHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  flex: 1;
  min-width: 0;
}

.loadMoreBtn {
  margin-top: 8px;
  width: 145px;
  align-self: center;
}
